.color-nav {
  margin-bottom: 0.5rem;
}

.nav-link {
  color: #ffffff !important;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-right: 25px;
  margin-left: 25px;
}

.img {
  padding-right: 1rem;
  width: 5rem;
}

.HomeLogoText {
  color: #ffffff !important;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
